@import '../../../../packages/tokens/colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        border-color: hsl(var(--border));
    }
    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
    :focus-visible {
        outline: 2px solid hsl(var(--ring));
        outline-offset: 2px;
    }
}
